header{
    width: 100%;
    background-image: url(../img/pattern.png);
    background-color: steelblue;  
}

header img{
    width: 200px;
    height: 170px;
}

main{
    width: 900px;
    margin: auto;
}

.titolo h1{
    font-size: 30px;
}

.titolo span{
    color: grey;
}

span .spancolor{
    color: deepskyblue;
}

.photo_tim img{ 
    width: 400px;
    height: 300px;
    margin-top: 10px;
}

.descrizione{
    font-size: 10px;
}

