
header{
    width: 100%;
    background-image: url(../img/pattern.png);
    background-color: steelblue;  
    background-position: top;
    background-size: 17%;
}

header img{
    height: 50px;
    padding-top: 25px;
   
}

main, footer{
    width: 900px;
    margin: auto;
}

.titolo h1{
    font-size: 30px;
}

.titolo span{
    color: grey;
}

span .spancolor{
    color: deepskyblue;
}

.photo_tim img{ 
    width: 400px;
    height: 300px;
    margin-top: 10px;
}

.descrizione{
    font-size: 10px;
}

ul{
    padding-left: 16px;
}

table{
    width: 100%;
    border-collapse: collapse;
}

thead{
    text-align: left;
    border-collapse: collapse;
    border-color: darkturquoise;
    background-color: darkturquoise ;
    color: white;
}

tbody .colorato{
    text-align: left;
    border-collapse: collapse;
    border-color: lightblue;
    background-color: lightblue;
    color: white;
}



table td{
    width: 300px;
}

.sottotitolo_footer{
    color: grey;
}

.immagine_footer_1{
    padding: 10px;
    height: 200px;
    background-image: url(../img/monitor.jpg);
    background-repeat: no-repeat;
    color: white;
    font-size: 30px;
}

.immagine_footer_2{
    padding: 10px;
    height: 200px;
    background-image: url(../img/graph.jpg);
    background-repeat: no-repeat;
    color: white;
    font-size: 30px;
}
