header{
    width: 100%;
    background-image: url(../img/pattern.png);
    background-color: steelblue;  
}

header img{
    width: 200px;
    height: 170px;
}

.titolo{
    width: 700px;
    margin: auto;
}

.titolo span{
    color: grey;
}

span .spancolor{
    color: deepskyblue;
}